{% extends "layout.html" %}
{% load static %}

{% block title %}{{ page_title }} - MultiFlex{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/all_movies.css' %}">

<div class="content-wrapper">

  <div class="left-column">
    <section class="movies-list-section">

      <h1 class="page-title">{{ page_title }}</h1>

      <div id="movies-grid-container" class="movie-grid">
        </div>

      <div class="pagination">
          <button id="prev-page" disabled><i class="fa-solid fa-less-than"></i></button>
          <span id="page-info">1 / ?</span>
          <button id="next-page"><i class="fa-solid fa-greater-than"></i></button>
      </div>
    </section>
  </div>

  <aside class="right-column">

    <form class="search-bar" action="#" data-api-url="http://127.0.0.1:8001/api/movies/">
        <i class="fas fa-search"></i>
        <input type="text" name="search" placeholder="Пошук..." autocomplete="off">
        <div class="search-results-container"></div>
    </form>

    <div class="filter-panel">
      <h3>Обрати по категоріям</h3>

      <div class="filter-group">
        <label>
            <input type="checkbox" name="filter_animation" value="true">
            Мультфільми
        </label>

        <label>
            <input type="checkbox" name="filter_age" value="18">
            До 18+
        </label>
        <label>
            <input type="checkbox" name="filter_age" value="16">
            До 16+
        </label>
      </div>

      <hr class="filter-divider">

      <div class="filter-group">
        <h4>Жанри</h4>
        <label>
            <input type="checkbox" name="filter_genre" value="Драма">
            Драма
        </label>
        <label>
            <input type="checkbox" name="filter_genre" value="Жахи">
            Жахи
        </label>
        <label>
            <input type="checkbox" name="filter_genre" value="Комедія">
            Комедія
        </label>
        <label>
            <input type="checkbox" name="filter_genre" value="Бойовик">
            Бойовик
        </label>
        <label>
            <input type="checkbox" name="filter_genre" value="Фантастика">
            Фантастика
        </label>
        <label>
            <input type="checkbox" name="filter_genre" value="Трилер">
            Трилер
        </label>
      </div>

      <hr class="filter-divider">

       <div class="filter-group">
          <label>
              <input type="checkbox" name="filter_kids" value="true">
              Для дітей
          </label>
       </div>
    </div>
  </aside>

</div>

{{ status_to_load|json_script:"status_to_load" }}
<script src="{% static 'js/card_badges.js' %}"></script>
<script src="{% static 'js/all_movies.js' %}"></script>
<script src="{% static 'js/search.js' %}"></script>
{% endblock %}



